@page "/fetchdata"

@using Masny.Blazor.Design.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <Empty Simple />
}
else
{
    <Table DataSource="@forecasts">
        <Column @bind-Field="@context.Summary"></Column>
        <Column @bind-Field="@context.Date" Format="yyyy-MM-dd" Sortable></Column>
        <Column @bind-Field="@context.TemperatureF" Sortable ></Column>
        <Column @bind-Field="@context.TemperatureC">
            @{
                var color = context.TemperatureC < 5 ? "geekblue" : "green";
                <Tag Color="@color">@context.TemperatureC</Tag>

            }
        </Column>
        <ActionColumn Title="Acton">
            <Space Size="middle">
                <SpaceItem>
                    <a>Delete</a>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
}

@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
